{% extends 'user/layout/login_register_basic.html' %}
{% load staticfiles %}

{% block css %}
    <style>
        #errmsg{
                position: absolute;
                top: 120px;
                color: red;
            }
    </style>
{% endblock %}

{% block content %}
    <div class="main">
            <div class="container a-container" id="a-container">
                <form class="form" id="a-form">
                    <h2 class="form_title title">创建账号</h2>
                    <!-- 第三方登录
                    <div class="form__icons"><img class="form__icon" ><img class="form__icon" ></div><span class="form__span">or use email for registration</span>
                    -->
                    <div style="color: red" class="errmsg" id="errmsg"></div>
                    <input id="id_username" name="username" class="form__input" type="text" placeholder="用户名">
                    <input id="id_email" name="email" class="form__input" type="text" placeholder="Email">
                    <input id="id_password" name="password" class="form__input" type="password" placeholder="密码">
                    <input id="id_password1" name="password1" class="form__input" type="password" placeholder="再次输入密码">
                    <input id="id_mobile_phpne" name="mobile_phpne" class="form__input" type="text" placeholder="手机号">
                    <input id="id_code" name="code" class="form__input" type="text" placeholder="手机验证码">
                    <div style="width: 60%; padding-top: 5px">
                       <button style="float: left; width: 100px; height: 30px; font-size: 10px; padding-right: 120px; line-height: 10px" id="button_code" class="code_button" onclick="rebindClickBtncode()">点击获取手机验证码</button>
                        <div id="time_span" class="form__span" style="width: 50%; margin-top: 10px; float: right;"></div>
                    </div>

                    <button  id="register" class="form__button button">立即注册</button>
                    {% csrf_token %}
                </form >

            </div>
            <div class="switch" id="switch-cnt">
                <div class="switch__circle"></div>
                <div class="switch__circle switch__circle--t"></div>
                <div class="switch__container" id="switch-c1">
                    <h2 class="switch__title title">欢迎回来 !</h2>
                    <p class="switch__description description">与我们保持联系,请登录您的个人信息</p>
                    <button class="switch__button button" onclick="goto_login()">立即登录</button>
                </div>
            </div>
        </div>
{% endblock %}

{% block js %}
    <script>
        function goto_login() {
            location.href = '/login'
        }
    </script>
    <script>
        // 注册获取验证码
        function rebindClickBtncode() {
                event.preventDefault();
                $('.errmsg').empty()  // 将内容变为空
                // 获取手机号
                varmobile = $('#id_mobile_phpne').val()
                var that = $('#button_code')
                $.ajax({
                    url: "{% url 'user:send_sms' %}",
                    type: "GET",
                    data: {'mobile_phpne': varmobile, 'tpl': 'register'},
                    dataType: "JSON", // 将返回的数据进行josn序列化
                    success: function (data) {
                        if (data.status) {
                            var timeo = 60;
                            var timeStop = setInterval(function () {
                                timeo--;
                                if (timeo > 0) {
                                    that.css('background', '#9698a1')
                                    $('#time_span').html('等待' + timeo + 's');
                                    that.attr('disabled', 'disabled');//禁止点击
                                } else {
                                    timeo = 60;//当减到0时赋值为60
                                    that.css('background', '#262728')
                                    clearInterval(timeStop);//清除定时器
                                    that.removeAttr('disabled');//移除属性，可点击
                                    $('#time_span').html('');
                                }
                            }, 1000)
                        } else {
                            $.each(data.error, function (key, val) {
                                if (val[0] == '这个字段是必填项。' || val[0] == '这个字段是必须的')
                                {
                                    $('#errmsg').show().text('请将信息补充完整')
                                }
                                else
                                {
                                   $('#errmsg').show().text(val[0])
                                }

                            })
                        }
                    },
                })



        }

        // 注册
        $('#register').on('click', function () {
        event.preventDefault();
        var data = $('#a-form').serialize();
        $.post('{% url 'user:register' %}', data, function (data) {
            // 返回结果
            if (data.status) {
                location.href = '/web/' + data.data
            } else {
                $.each(data.error, function (key, val) {
                    if (val[0] == '这个字段是必填项。' || val[0] == '这个字段是必须的')
                    {
                        $('#errmsg').show().text('请将信息补充完整')
                    }
                    else
                    {
                       $('#errmsg').show().text(val[0])
                    }
                }
                )
            }
        })
    })
    </script>


{% endblock %}